[submodule "third_party/chromium/url"]
	path = third_party/chromium/url
	url = https://chromium.googlesource.com/chromium/src/url/
[submodule "third_party/chromium/base"]
	path = third_party/chromium/base
	url = https://chromium.googlesource.com/chromium/src/base/
